@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Restaurant Rater</h1>
    <p class="text-center text-success"> A highly unique website where you can rate and review every restaurant you have visited. Search for existing reviews to help in your dinner decision tonight!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurants</h2>
        <p>
            Search through our existing restaurants or create a new one.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44317/Restaurant">Restaurants &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How was your Experience?</h2>
        <p>Dined recently? Create a review and tell us about your experience!</p>
        <p><a class="btn btn-default" href="https://localhost:44317/Review/Create">Create Review &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See some Reviews</h2>
        <p>Deciding where to eat tonight? Let us help you, just search through some reviews on your favorite restaurants!</p>
        <p><a class="btn btn-default" href="https://localhost:44317/Review">View Reviews &raquo;</a></p>
    </div>
</div>